.sidebar{

width:260px;

background:var(--sidebar);

border-right:1px solid var(--line);

display:flex;

flex-direction:column;

}

.brand{

padding:22px;

display:flex;

gap:14px;

align-items:center;

border-bottom:1px solid var(--line);

}

.logo{

width:38px;

height:38px;

background:var(--yellow);

color:#111;

font-weight:bold;

display:flex;

justify-content:center;

align-items:center;

border-radius:8px;

}

.brand h3{

font-size:20px;

}

.brand p{

font-size:12px;

color:var(--textDim);

}

.heading{

padding:20px;

font-size:12px;

letter-spacing:2px;

color:var(--textLight);

}

.menuItem{

display:flex;

align-items:center;

gap:12px;

padding:15px 20px;

color:var(--textDim);

cursor:pointer;

transition:.3s;

text-decoration:none;

}

.menuItem:hover{

background:#171c24;

}

.menuItem.active{

background:#171c24;

color:white;

border-left:3px solid var(--yellow);

}

.dot{

width:7px;

height:7px;

background:gray;

border-radius:50%;

}

.active .dot{

background:var(--yellow);

}

.footer{

margin-top:auto;

padding:20px;

font-size:12px;

color:var(--textLight);

border-top:1px solid var(--line);

}