.topbar{

height:85px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 25px;

border-bottom:1px solid var(--line);

}

.topbar h2{

font-size:32px;

}

.topbar p{

color:var(--textDim);

margin-top:5px;

}

.right{

display:flex;

gap:15px;

align-items:center;

}

select{

background:var(--panel);

border:1px solid var(--line);

color:white;

padding:10px 14px;

border-radius:8px;

}

.live{

padding:10px 16px;

background:#12372a;

color:#2be38c;

border-radius:8px;

border:1px solid #1d5f4f;

}