.tooltipWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.tooltipBox {
  position: absolute;
  z-index: 9999;

  min-width: 220px;
  max-width: 320px;

  padding: 12px 14px;

  background: var(--card-bg);
  color: var(--text);

  border: 1px solid var(--border);

  border-radius: 10px;

  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;

  box-shadow: 0 10px 25px rgba(0,0,0,.18);

  opacity: 0;
  visibility: hidden;

  transition: .2s;

  pointer-events: none;
}

.tooltipWrapper:hover .tooltipBox {
  opacity: 1;
  visibility: visible;
}

.tooltipBox.top {
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltipBox.bottom {
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltipBox.left {
  right: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
}

.tooltipBox.right {
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
}

/* Arrow */

.tooltipBox::after{
    content:"";
    position:absolute;
}

.tooltipBox.top::after{
    top:100%;
    left:50%;
    transform:translateX(-50%);
    border:6px solid transparent;
    border-top-color:var(--border);
}

.tooltipBox.bottom::after{
    bottom:100%;
    left:50%;
    transform:translateX(-50%);
    border:6px solid transparent;
    border-bottom-color:var(--border);
}

.tooltipBox.left::after{
    left:100%;
    top:50%;
    transform:translateY(-50%);
    border:6px solid transparent;
    border-left-color:var(--border);
}

.tooltipBox.right::after{
    right:100%;
    top:50%;
    transform:translateY(-50%);
    border:6px solid transparent;
    border-right-color:var(--border);
}

.infoIcon {
  width: 18px;
  height: 18px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--divider);
  color: var(--text-secondary);

  font-size: 11px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.2s;
}

.infoIcon:hover {
  background: var(--primary);
  color: #fff;
}